.fastfood, .drinks{
  background: white;
  border-radius: 0px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
}
.drink2{
  text-align: left;
  float: right;
}
.drink1{
  float;left;
}
