.bg-img-foodbottom{
  background-image: url("../img/assets/backgrounds/foodsBg.jpg");
  height: 599px;
  opacity: .9;
}
.text-row{
  background: white;
  padding: 0px;
}
.top-empty-row{
  padding-top: 100px;
}
.img-row{
  padding-top: 30px;

}
.img-row-text{
  padding-top: 10px;
  margin-bottom: 30px;

}
